{% load staticfiles %}
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Hind+Guntur" rel="stylesheet">
<!-- Icons -->
<link rel="stylesheet" type="text/css" href="{% static 'makers/fonts/icons/flaticons/flaticon.css' %}">
    <!-- Plugin CSS -->
<link href="{% static 'makers/vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
<link href="{% static 'makers/css/creative.css' %}" rel="stylesheet">
<link href="{% static 'makers/css/scrolling-nav.css' %}" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
