{% extends 'base.html' %}

{% block content %}
<style>
h1 {
    margin-top: 0px;
    margin-bottom: 1em;
}
</style>

<div class="padding-top">
<h1>Editar Post</h1>
    <form id="edit_post" action="../../save_post/{{p.id}}/" method="post" enctype="multipart/form-data" role="form">
        {% csrf_token %}
        {{form}}
        <div class="form-group">
                <input type="text" name="title" id="post-title" tabindex="1"
                    class="form-control" value="{{p.title}}">
        </div>
        <div class="form-group">
                <textarea name="text" type="text" class="form-control" rows="6" id="post-content">{{p.text}}</textarea>
        </div>
        <div class="form-group">
            <input type="file" name="image1" id="post-image1" tabindex="1"
                class="form-control"  value="Imagem1">
        </div>
        <div class="form-group">
            <input type="file" name="image2" id="post-image2" tabindex="1"
                class="form-control" value="Imagem2">
        </div>
        <div class="form-group">
            <input type="file" name="image3" id="post-image3" tabindex="1"
                class="form-control"  value="Imagem3">
        </div>
        <div class="form-group">
            <input type="file" name="image4" id="post-image4" tabindex="1"
                class="form-control" value="Imagem4">
        </div>
        <div class="form-group">
            <input type="submit" name="submit" id="submit-post" tabindex="1"
                class="form-control"  value="Guardar Alterações">
        </div>


    </form>
</div>
{% endblock %}
