{% load staticfiles %}
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Malta&C</title>

    <!-- Bootstrap Core CSS -->


    <link href="{% static 'makers/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'makers/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Hind+Guntur" rel="stylesheet">
    <!-- Icons -->

    <link rel="stylesheet" type="text/css" href="{% static 'makers/fonts/icons/flaticons/flaticon.css' %}">
    <!-- Plugin CSS -->
    <link href="{% static 'makers/vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'makers/css/perfilArtesao.css' %}" rel="stylesheet">

    <link href="{% static 'makers/css/sidebar.css' %}" rel="stylesheet">

    <link href="{% static 'makers/css/register.css' %}" rel="stylesheet">

    <link href="{% static 'makers/css/creative.css' %}" rel="stylesheet">

    <link href="{% static 'makers/css/scrolling-nav.css' %}" rel="stylesheet">

    <link href="{% static 'users/css/loginForm.css' %}" rel="stylesheet">

    <!-- Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'makers/css/owl.carousel.css' %}" rel="stylesheet">

    <link href="http://cdn.phpoll.com/css/animate.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="{% static 'css/WebSite/utilizadores/login.css' %}" rel="stylesheet">

</head>

<body id="page-top">

{% include "users/common/header.html" %}

<section id="loginSection">
    <div id="loginForm">
        {% if errorMsg is not None %}
        <div>
            <h3 style="color: red">{{errorMsg}}</h3>
        </div>
        {% endif %}
		{% if infoMsg is not None %}
        <div>
            <h3 style="color: green">{{infoMsg}}</h3>
        </div>
        {% endif %}
		<div>
            <h3>Esqueceu se da password?</h3>
			<p>Insira o seu email:</p>
        </div>
        <form id="maker-form" action="/utilizadores/resetPassword" method="post" role="form" >
            <div class="form-group">
                <i class="material-icons register-icons">email</i>
                <input type="text" name="email" id="email-maker" tabindex="1"
                       class="form-control" placeholder="Email" value="">
            </div>
            <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-default" value="Recuperar">
            {% csrf_token %}
        </form>
    </div>
</section>

{% include "users/common/footer.html" %}