{% load staticfiles %}
<html lang="en">

<!-- Chamada dos headers comuns -->
<head>
  <!-- Chamada dos headers comuns -->
  {% include "commonhead.html" %}
</head>
<body>

  	{% include "users/common/header.html" %}
  <section style="margin-left: 0px;">
    <h2>O seu evento foi submetido com sucesso!</h2>
    <h4>Um adminstrador da malta&companhia irá rever o pedido e o contactará o mais brevemente possível</h4>
    <a href="../" class="btn btn-default">Ok</a>
 </section>
   {% include "users/common/footer.html" %}
</body>
