<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="col-lg-12 text-center">
            <div class="section-header row">
                <div class="col-xs-2 col-sm-4">
                    <hr>
                </div>
                <div class="col-xs-8 col-sm-4 title">
                    <h3 class="main-heading">Eventos em Destaque</h3>
                </div>
                <div class="col-xs-2 col-sm-4">
                    <hr>
                </div>
            </div>
        </div>

        {% for event in events %}
         <div class="no-gutter popup-gallery">
            <div class="col-lg-4 col-sm-4">
                <a href="eventos/{{event.id}}" class="portfolio-box">
                    <img src="{{MEDIA_URL}}{{event.image}}" class="img-responsive" alt="">
                    <div class="shop-box-caption">
                        <div class="shop-box-caption-content">
                            <div class="shop-name text-upper">
                               {{ event.name }}
                            </div>
                            <div>
                                <i class="flaticon-map-with-placeholder"></i>
                                <p class="event-place">{{ event.local }}</p>
                            </div>
                            <div>
                                <i class="flaticon-calendar-with-a-clock-time-tools"></i>
                                <p class="event-hour">{{ event.date_initial }}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
         </div>
        {% endfor %}
    </div>
</section>
<!-- ***** END OF OFICINAS ***** -->