{% extends 'base.html' %}

{% block content %}
<div class="padding-top">
<table style="width:100%">
  <tr>
    <th>Produto</th>
    <th>Quantidade</th>
      <th></th>
      <th>Preço</th>
  </tr>
    {% for purchase in purchaseItems %}
  <tr>
     <td><a href="{% url 'products:show-product' purchase.product.pk %}">{{purchase.product.name }}</a></td>

      <td>{{purchase.quantidade}}</td>
      <td></td>
      <td>{{purchase.product.original_price}}</td>


  </tr>

{% endfor %}
    <hr>
    <td>Preço total</td>
    <td></td>
    <td></td>
    <td id="total_price">{{sumatorio}}</td>

</table>
</div>
{% endblock %}
